<template>
  <div class="<%= name %>">
    <h2 class="<%= name %>">{{ <%= name %>}}</h2>
  </div>
</template>

<script setup lang="ts">

</script>

<style lang="less"  scoped>
.<%= name %> {
  color:red
}
</style>